    <!-- Footer -->
    <footer>
        <div class="footer container" style="display: flex; justify-content: space-between; align-items: center;">
  <span><p style="text-left">&copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p></span>
          <span>
            <a href="https://linkedin.com/in/sbouchat"><img src="img/linkedin.png" style="padding: 5px; margin: 2px 2px 2px 2px;height:40px;background-color:#4fe4f5;border-radius: 5px;"> </a>
            <a href="https://www.instagram.com/bravermeasures"><img src="img/instagram.png" style="padding: 5px; margin: 2px 2px 2px 2px;height:40px;background-color:#4fe4f5;border-radius: 5px;"> </a>
            <a href="https://evidenceandevil.com"><img src="img/ghost-logo-orb.png" style="padding: 5px; margin: 2px 2px 2px 2px;height:40px;background-color:#4fe4f5;border-radius: 5px;"> </a>
          </span> 
</div>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
<a href="https://github.com/bouchat/grayscale-theme/blob/7c48d70cc1645f3a5cc78a5232377a38a799fdab/PrivacyPolicy-BMC2026.pdf">Privacy Policy</a>
<a href="https://github.com/bouchat/grayscale-theme/blob/7c48d70cc1645f3a5cc78a5232377a38a799fdab/TermsandConditions-BMC2026.pdf">Terms & Conditions</a>
</div>

    </footer>
    
