    <!-- Footer -->
    <footer>
        <div class="footer container" style="display: flex; justify-content: space-between; align-items: center;">
  <span><p style="text-left">&copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p></span>
          <span>
            <a href="https://linkedin.com/in/sbouchat"><img src="img/linkedin.png" style="padding: 5px; margin: 2px 2px 2px 2px;height:40px;background-color:#4fe4f5;border-radius: 5px;"> </a>
            <a href="https://www.instagram.com/bravermeasures"><img src="img/instagram.png" style="padding: 5px; margin: 2px 2px 2px 2px;height:40px;background-color:#4fe4f5;border-radius: 5px;"> </a>
            <a href="https://evidenceandevil.com"><img src="img/ghost-logo-orb.png" style="padding: 5px; margin: 2px 2px 2px 2px;height:40px;background-color:#4fe4f5;border-radius: 5px;"> </a>
          </span> 
</div>
<div style="display: flex; justify-content: space-between; align-items: left;">
<a href="https://www.dropbox.com/scl/fi/b626oi0r3u4k0vz09d5k6/PrivacyPolicy-BMC2026.pdf?rlkey=i181uimt29bqnphffy1kb9iaj&st=stfimlcn&dl=0">Privacy Policy</a>
<a href="https://www.dropbox.com/scl/fi/5mn0h1ulo7e6njsra4d14/TermsandConditions-BMC2026.pdf?rlkey=ym2o7yyxznojevqy9c4ufk7ei&st=bbc28q0p&dl=0">Terms & Conditions</a>
</div>

    </footer>
    
