    <!-- Testimonials-->
<section id="testimonials" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
    
<h2>What people are saying...</h2>

 </div>
        </div>


<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade-in">
    <p class="testimonial">"I would sign up for any workshop, training, or skill-building session Sirus organizes in an instant, and it's my first thought of who to work with when I or any organization I'm part of needs to tackle something challenging, uncomfortable, or simply very important."</p>
    <p class="testimonial" style="text-align:right;"> &#X2014; Nat, Former Client</p>
  </div>

  <div class="mySlides fade-in">
    <p class="testimonial">"Sirus is absolute magic; I can’t say enough good things about them. While of course I appreciate their analysis of social and political structures and events, what I am most impressed by is their ability to summarize and organize the inherent mess of group thinking into a workable format."</p>
    <p class="testimonial" style="text-align:right;">&#X2014; Liz, Former Client</p>
  </div>

  <div class="mySlides fade-in">
    <p class="testimonial">"They are thoughtful with their word choices, an absolute master in explaining complex and challenging content, and have a way of asking questions that help you get to a deeper understanding of why you think what you think (or expose the gaps in your thinking without making you feel any sort of way about it)."</p>
    <p class="testimonial" style="text-align:right;">&#X2014; Former Client</p>
  </div>
  
  <div class="mySlides fade-in">
    <p class="testimonial">"Their knowledge runs deep, but what makes them stand out is how approachable and easy they are to work with. ... I can't recommend them enough." </p>
    <p class="testimonial" style="text-align:right;">&#X2014; Mary, Current Client</p>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<!--<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
</div>

-->
</section>