  <!-- Work With Me Section -->
    <section id="work-with-me" class="content-section text-center">
        <div class="get-started-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Let's Work Together</h2>
                    <p>If you're interested in working with me, complete the form with a few details about your project. I'll review your message and get back to you within 48 hours.</p>
                    <button data-tally-open="68BOVP" data-tally-layout="modal" data-tally-auto-close="3000" data-tally-form-events-forwarding="1">Work Together</button>
                </div>
            </div>
        </div>

    </section> 