<!DOCTYPE html>
<html>
    {% include head.html %}
    <link rel="icon" type="image/x-icon" href="img/favicon_logo.png">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-86DLTH7D07"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-86DLTH7D07');
</script>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include services.html %}
    {% include about.html %}
    {% include workwithme.html %}
    {% include start.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>